<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Signup</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/Login.css" />
  </head>
  <body>
    <div class="inner">
      <form action="/signup" method="POST">
        <h1>Teacher Signup</h1>
        <p class="subtitle">Centralized Notification System</p>

        <label>First Name</label>
        <input
          type="text"
          name="firstName"
          placeholder="e.g. Shubham"
          required
        />
        <label>Last Name</label>
        <input type="text" name="lastName" placeholder="e.g. Rathod" required />

        <label>Email Address</label>
        <input
          type="email"
          name="email"
          placeholder="name@email.com"
          required
        />

        <label>Phone Number</label>
        <input type="number" name="number" placeholder="+91 0000-000-000" />

        <label>Gender</label>
        <div class="gender-group">
          <label class="radio-item"
            ><input type="radio" name="gender" value="male" /> Male</label
          >
          <label class="radio-item"
            ><input type="radio" name="gender" value="female" /> Female</label
          >
          <label class="radio-item"
            ><input type="radio" name="gender" value="other" /> Other</label
          >
        </div>

        <label>Institute Name</label>
        <input
          type="text"
          name="instituteName"
          placeholder="MGM College of CS & IT"
        />

        <label>Institute ID</label>
        <input type="text" name="instituteId" placeholder="MGM-88291" />

        <label>Password</label>
        <input
          type="password"
          name="password"
          placeholder="••••••••"
          required
        />

        <label>Confirm Password</label>
        <input
          type="password"
          name="confirmPassword"
          placeholder="••••••••"
          required
        />

        <button type="submit">Create Account</button>
      </form>
    </div>
  </body>
</html>
